{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{!-- <div class="page"> --}}
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/arrows_back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/svg/avatar.svg">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Мій блог</h1> --}}

    {{!-- <main class="post__list">
        <div class="post button">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Важливо</span>
                    <span class="post__category post__category--2">Нова</span>
                </div>
                <span class="post__date">25.01</span>
            </div>
            <p class="post__info">Не плануєм, наймемо дизайнера і готуємося до презентації</p>
        </div>
        <div class="post button post--viewed">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Важливо</span>
                </div>
            <span class="post__date">24.01</span>
            </div>
            <p class="post__info">Ми хотіли у цьому чаті близько 150 людей</p>
        </div>
    </main> --}}
{{!-- </div> --}}

{{!-- ========================== --}}

<div class="page2">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/arrows_back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/svg/avatar.svg">
        </button>
    </header>

    <h1 class="title">Ком'юніті</h1> --}}

        {{!-- <div class="post__header2">
            <span class="post__category2 post__header2--1">База знань</span>
            <span class="post__category2 post__header2--2">Інформація</span>
        </div> --}}

    {{!-- <main class="post__list">
        <div class="post2">
            <span class="post__info2">Зустрічай!</span>
            <span class="post__info2">Наше ком'юніті в telegram!</span>
            <button class="button2">
                <img width="32px" height="32px" src="/img/telegram.png">
            </button>
        
        </div>
            <span class="post__text--1">Що таке База Знань?</span>
            <span class="post__text--2">База Знань - це база даних, яка містить правила виводу і інформацію про людський досвід і знання в деякій предметній області.</span>
        <div class="post2">
            <span class="post__info2">Перейти до ком'юніті в telegram</span>
        </div>
    </main> --}}
</div>


