.page {
	padding: 24px;
	max-width: 400px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 32px;
}

.page2 {
	padding: 24px;
	max-width: 400px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 32px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.button {
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.button2 {
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.title {
	font-size: 24px;
	color: #121212;
}

.post__list {
	display: flex;
	flex-direction: column;
	gap:12px;
}

.post {
	padding: 12px;
	border-radius: 10px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;

	display: flex;
	flex-direction: column;
	gap: 12px;

	&--viewed {
		background-color: transparent;
		border-color: #e6e6e6;

		.post__info {
			color: #888888;
		}
	}
}

.post2 {
	padding: 12px;
	border-radius: 10px;
	background-color: #F46F17;
	// border: 1px solid #f7f7f7;

	display: flex;
	flex-direction: column;
	gap: 12px;

	&--viewed {
		background-color: transparent;
		border-color: #e6e6e6;

		.post__info {
			color: #888888;
		}
	}
}

.post__header {
	display: flex;
	justify-content: space-between;
}

.post__category-list {
	display: flex;
	gap: 8px;
}

.post__date {
	color: #888888;
	font-size: 14px;
}

.post__info {
	font-size: 16px;
	line-height: 1.4em;
	color: #121212;
}

.post__info2 {
	font-size: 25px;
	line-height: 1.4em;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

.post__category {
	padding: 8px 12px;
	font-size: 12px;
	border-radius: 50px;

	&--1 {
		color: #f46f17;
		background-color: #f7e9e1;
	}
	
	&--2 {
		color: #ef5da8;
		background-color: #f6e8ef;
	}
}

.post__category2 {
	padding: 8px 12px;
	font-size: 15px;
	width: 100%;
	// border-radius: 50px;
}

.post__header2 {
	display: flex;
	
	&--1 {
		padding: 10px 45px;
		cursor: pointer;
		color: #808080;
		border-bottom: 1px solid #808080;
	}
	
	&--2 {
		padding: 10px 45px;
		color: black;
		cursor: pointer;
		font-weight: bold;
		border-bottom: 2px solid black;
	}
}

.post__text--1 {
	padding: 8px;
	font-weight: bold;
}

.post__text--2 {
	padding: 8px;
	line-height: 25px;
}